
<div class="container-fluid" style="border:none; margin-top:30px; overflow: hidden;">

        <div class="background" style="bottom:0; position:absolute; z-index:-1; left:0;">
                <%= image_tag "footerWave.png", :size => "1700x250"%>
        </div>

    <div class="row" style="padding-top:100px; overflow: hidden;">
    
        <button class="col btn btn-xs" style="margin-right:30px; border:hidden;">
           <%= image_tag "Artr_logo.png", :class => "align-items-center", :size => "100x50"%>
        </button>

        <div class="col-5"></div>
    
        <div class="col">
            <a style="text-decoration:none; color: #5678CE " href="#">Support</a>
        </div>
        <div class="col">
            <a style="text-decoration:none; color: #5678CE" href="#">Help</a>
        </div>
        <div class="col">
            <a style="text-decoration:none; color: #5678CE" href="#">About</a>
        </div>
        <div class="col">
            <a style="text-decoration:none; color: #5678CE" href="#">Artists</a>
        </div>
        <div class="col">
            <a style="text-decoration:none; color: #5678CE" href="#">Community</a>
        </div>
        
    </div>
    <div class="row">

            <div class="col-10" ></div>
            <figcaption class="col" class="text-right">
                <a style="color: #5678CE; " href="#">Privacy</a> | <a style="color: #5678CE; " href="#">Terms and Services</a>
            </figcaption>
    </div>
    
</div>

   
